@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
}

body {
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  font-family: 'roboto';
  background-color: #3978dd;
}
.main {
  background-image:linear-gradient(to bottom right, rgb(238, 227, 240), rgb(182, 89, 182), rgb(141, 202, 41));
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}
.tab:hover {
  cursor: pointer;
}

